.landing-container {
  height: 380px;
}
.landing-container .landing-text-wrapper {
  width: 472px;
  height: 350px;
}

.landing-text {
  color: #152144;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
}
.landing-subtitle {
  font-size: 16px;
  width: 386px;
  line-height: 26px;
  color: #002058;
  opacity: 0.6;
  font-style: normal;
  font-weight: 500;
  /* margin-top: 26px; */
}

.calculator-wrapper {
  width: 1032px;
  height: 117px;
  margin: 100px auto 0px auto;
  padding: 28px 45px 28px 41px;
}

.input {
  height: 60px;
}

@media (max-width: 640px) {
  .landing-container {
    height: 480px;
  }
  .landing-container .landing-text-wrapper {
    width: 100%;
    height: inherit;
  }
  .landing-text {
    font-size: 56px;
  }
  .landing-subtitle {
    width: 100%;
  }
  .calculator-wrapper {
    width: inherit;
    height: auto;
    margin: 100px auto 0px auto;
    padding: 25px;
  }
}
